# Gradle
.gradle/
build/
gradle-app.setting
.gradletasknamecache

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# IDE - Eclipse
.classpath
.project
.settings/
bin/

# IDE - VS Code
.vscode/

# Java
*.class
*.war
*.ear
*.jar
!gradle/wrapper/gradle-wrapper.jar
hs_err_pid*

# Logs
*.log

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db